<div class="nav-menu">
  <div class="container">
    <div class="row">
      <div class="col-12 nav-bancon">
        <img src="../../../assets/images/logo.png" alt="" class="nav-logo" />
        <nav role="custom-dropdown">
          <input type="checkbox" id="nav-responsive" />
          <label class="nr-label" for="nav-responsive" onclick></label>
          <ul class="d-inline nb-navite">
            <li><a href="#" class="active">Groetjes</a></li>
            <li><a href="#">Route en lokaties</a></li>
            <li><a href="#">Reisschema</a></li>
            <li><a href="#">Speciaal</a></li>
            <li><a href="#">Accommosdatie</a></li>
            <li><a href="#">Reissom & informatie</a></li>
            <li><a href="#">Privegids</a></li>
            <li><a href="#">Contacteer ons</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
