<div class="nav-menu">
  <div class="container">
    <div class="row">
      <div class="col-12 nav-bancon">
        <img src="../../../assets/images/logo.png" alt="" class="nav-logo" />
        <nav role="custom-dropdown">
          <input type="checkbox" id="nav-responsive" />
          <label class="nr-label" for="nav-responsive" onclick></label>
          <ul class="d-inline nb-navite">
            <li><a href="#" class="active">Groetjes</a></li>
            <li><a href="#">Route en lokaties</a></li>
            <li><a href="#">Reisschema</a></li>
            <li><a href="#">Speciaal</a></li>
            <li><a href="#">Accommosdatie</a></li>
            <li><a href="#">Reissom & informatie</a></li>
            <li><a href="#">Privegids</a></li>
            <li><a href="#">Contacteer ons</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- banner -->
<!-- bg image banner -->
<div class="main-banner">
  <img src="../../../assets/images/banner/1.jpg" alt="" class="mb-img" />
  <div class="container mb-content">
    <h1>Reis naar de mooiste locaties van Schotland</h1>
    <p>Welkom mijnheer en mevrouw Robberecht!</p>
  </div>
</div>
<!-- banner slider -->
<div class="wrapper main-slider">
  <input class="slicss-input" checked type="radio" name="m_slider" id="m_slider1" />
  <input class="slicss-input" type="radio" name="m_slider" id="m_slider2" />
  <input class="slicss-input" type="radio" name="m_slider" id="m_slider3" />
  <input class="slicss-input" type="radio" name="m_slider" id="m_slider4" />
  <input class="slicss-input" type="radio" name="m_slider" id="m_slider5" />

  <div class="slider-wrapper">
    <div class="inner">
      <article>
        <img src="../../../assets/images/1.jpg" class="ms-img" />
        <div class="info">
          <h3>Slider Text</h3>
        </div>
      </article>
      <article>
        <img src="../../../assets/images/2.jpg" class="ms-img" />
        <div class="info">
          <h3>Slider Text</h3>
        </div>
      </article>
      <article>
        <img src="../../../assets/images/3.jpg" class="ms-img" />
        <div class="info">
          <h3>Slider Text</h3>
        </div>
      </article>
      <article>
        <img src="../../../assets/images/1.jpg" class="ms-img" />
        <div class="info">
          <h3>Slider Text</h3>
        </div>
      </article>
      <article>
        <img src="../../../assets/images/2.jpg" class="ms-img" />
        <div class="info">
          <h3>Slider Text</h3>
        </div>
      </article>
    </div>
    <!-- .inner -->
  </div>
  <!-- .slider-wrapper -->

  <div class="slider-prev-next-control spnc-centered">
    <label for="m_slider1"></label>
    <label for="m_slider2"></label>
    <label for="m_slider3"></label>
    <label for="m_slider4"></label>
    <label for="m_slider5"></label>
  </div>
  <!-- .slider-prev-next-control -->

  <div class="slider-dot-control">
    <label for=m_slider1></label>
    <label for=m_slider2></label>
    <label for=m_slider3></label>
    <label for=m_slider4></label>
    <label for=m_slider5></label>
  </div>
  <!-- .slider-dot-control -->
</div>
<!-- half backgoun image section -->
<div class="fullbg-con" style="background-image: url('../../../assets/images/2.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-6 md-12">
        <div class="fbc-content">
          <h4>
            Ontdek de Highlands en Island met verblijf in exclusieve hotels
          </h4>
          <p>
            Bjgaand vindt u ons reisvoorstel voor schotland can 30 oktober t / m
            12 november 2020
          </p>
          <p>
            Tijdens deze rondreis ontdekt u o.a Edinburgh. de Highlands en Isle
            of Skye en erblijft u in exclusieve en veelal kleinschalige
            (kasteel) hotels.
          </p>
          <p>
            Duis aule irure dolor in reprehenderit in vouptate velit esse cillum
            dolore e fugiat nulla pariatur. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- hide and show -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="wrap-collabsible">
        <input id="collapsible" class="toggle toggle-main" type="checkbox" checked />
        <label for="collapsible" class="lbl-toggle slitog-ttl">
          <b>Uw reisschema</b>
          Laat minder zien
        </label>
        <div class="collapsible-content main-timeline">
          <div class="content-inner">
            <div class="timeline-inner">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus minus id pariatur delectus totam,
                reprehenderit ipsum deserunt perspiciatis fugiat in sit similique reiciendis, porro fugit ex, enim
                quasi impedit facere. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam et nemo
                totam eveniet fugiat iste dicta dolor animi? Iusto excepturi, nemo quo eos sequi in! Blanditiis
                tempora quos laudantium quisquam!
              </p>
              <div class="wrap-collabsible td-lodmor">
                <input id="collapsible1" class="toggle toggle-first" type="checkbox" checked />
                <label for="collapsible1" class="lbl-toggle"></label>
                <div class="collapsible-content">
                  <div class="content-inner">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, saepe dignissimos, earum ea vel
                      soluta, voluptatibus repellat sunt iste repellendus sint aspernatur. Magnam optio molestias
                      aliquam reiciendis sint fugiat voluptates? Lorem ipsum, dolor sit amet consectetur adipisicing
                      elit. Esse, nisi alias veritatis, praesentium reprehenderit nemo laudantium iste in illo non
                      impedit hic consequatur fugiat! Minus ipsum blanditiis deserunt fugiat aspernatur.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="timeline-inner">
              <div class="wrap-collabsible td-lodmor">
                <input id="collapsible2" class="toggle toggle-second" type="checkbox" checked />
                <label for="collapsible2" class="lbl-toggle"></label>
                <div class="collapsible-content">
                  <div class="content-inner">
                    <p>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus temporibus quas iste earum
                      odit, rerum deserunt atque sint quod? Nihil cupiditate modi tenetur minus deleniti corporis neque
                      molestias libero praesentium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
                      architecto fugiat unde magni placeat tempora voluptate ex, perferendis ducimus facilis accusantium
                      aperiam explicabo, et similique. Dicta, tenetur. Optio, reiciendis natus.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- carousel -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Carousel slider with offset</h3>
      <div class="wrapper">
        <input class="slicss-input" checked type="radio" name="slider" id="slide1" />
        <input class="slicss-input" type="radio" name="slider" id="slide2" />
        <input class="slicss-input" type="radio" name="slider" id="slide3" />
        <input class="slicss-input" type="radio" name="slider" id="slide4" />
        <input class="slicss-input" type="radio" name="slider" id="slide5" />

        <div class="slider-wrapper">
          <div class="inner">
            <article>
              <img src="../../../assets/images/1.jpg" />
              <img src="../../../assets/images/2.jpg" />
              <div class="info">
                <h3>Slider Text</h3>
              </div>
            </article>
            <article>
              <img src="../../../assets/images/3.jpg" />
              <img src="../../../assets/images/1.jpg" />
              <div class="info">
                <h3>Slider Text</h3>
              </div>
            </article>
            <article>
              <img src="../../../assets/images/2.jpg" />
              <img src="../../../assets/images/3.jpg" />
              <div class="info">
                <h3>Slider Text</h3>
              </div>
            </article>
            <article>
              <img src="../../../assets/images/1.jpg" />
              <img src="../../../assets/images/3.jpg" />
              <div class="info">
                <h3>Slider Text</h3>
              </div>
            </article>
            <article>
              <img src="../../../assets/images/1.jpg" />
              <img src="../../../assets/images/2.jpg" />
              <div class="info">
                <h3>Slider Text</h3>
              </div>
            </article>
          </div>
          <!-- .inner -->
        </div>
        <!-- .slider-wrapper -->

        <div class="slider-prev-next-control">
          <label for="slide1"></label>
          <label for="slide2"></label>
          <label for="slide3"></label>
          <label for="slide4"></label>
          <label for="slide5"></label>
        </div>
        <!-- .slider-prev-next-control -->

        <div class="slider-dot-control">
          <label for=slide1></label>
          <label for=slide2></label>
          <label for=slide3></label>
          <label for=slide4></label>
          <label for=slide5></label>
        </div>
        <!-- .slider-dot-control -->
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Vlucht</th>
              <th>Vlucht nummer.</th>
              <th>Vertrek luchthaven</th>
              <th>Vertrek datum</th>
              <th>Vertrek tijd</th>
              <th>Aankomst luchthaven</th>
              <th>Aankomst datum</th>
              <th>Aankomst tijd</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>KL</td>
              <td>521</td>
              <td>AMS</td>
              <td>30.10.2020</td>
              <td>00:00</td>
              <td>ABC</td>
              <td>30.10.2020</td>
              <td>10:15</td>
            </tr>
            <tr>
              <td>KL</td>
              <td>521</td>
              <td>ABC</td>
              <td>XX.XX.2020</td>
              <td>14:20</td>
              <td>EDI</td>
              <td>XX.XX.2020</td>
              <td>15:20</td>
            </tr>
            <tr>
              <td>KL</td>
              <td>523</td>
              <td>GLA</td>
              <td>12.11.2020</td>
              <td>15:15</td>
              <td>AMS</td>
              <td>12.11.2020</td>
              <td>17:20</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-12">
      <h2>popup</h2>
      <div class="vzc-btns">
        <button class="btn btn-outline">Email ons</button>
        <label class="btn" for="popup_checkbox">Ik ben geïnteresseerd!</label>
        <input class="popup-chebox" type="checkbox" name="popup_checkbox" id="popup_checkbox" />
        <div class="popup">
          <div class="popup-con">
            <h2 class="pp-ttl">Neem plaats, we bellen u terug</h2>
            <p>Het team is op de hoogte gebracht</p>
            <label class="btn btn-outline" for="popup_checkbox">Dicht</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
